Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt*termName: rxvt-unicode-256color
URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,matcher,clipboard-osc,resize-font
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Control-v: perl:clipboard:copy

URxvt.url-launcher: /usr/bin/chromium-browser
URxvt.matcher.button: 1

!URxvt.resize-font.smaller: Alt_L-Down
URxvt.resize-font.bigger: M-Up
!URxvt.keysym.Shift-C-c: perl:clipboard:copy
!URxvt.keysym.C-v: perl:clipboard:paste

URxvt.letterSpace: -1
URxvt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=13
!URxvt.font: xft:DejaVu Sans Mono:antialias=true:pixelsize=14
URxvt.scrollBar: false
URxvt*iso14755: False

URxvt.borderColor:     #00E676 
URxvt.internalBorder:  1
URxvt.transparent: true
URxvt.shading:20
URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1

! Included this so you know how to make your foreground not match the color of your background

! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)

! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

! Light

#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

*background:              S_base3
*foreground:              S_base02
*fading:                  40
*fadeColor:               S_base01
*cursorColor:             S_base01
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base02
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3
